@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    @apply bg-black text-white
  }
}

h1,
h2 {
  @apply font-extrabold
}

h1 {
  @apply text-4xl lg:text-6xl /* Title (HERO) */
}

h2 {
  @apply text-3xl lg:text-5xl /* Title and Section Header (TYPE ANIMATION, "BEHIND THE SCENES", "MY ABILITIES") */
}

h3,
h4 {
  @apply font-bold 
}

h3 {
  @apply text-2xl lg:text-4xl /* Page Title (ABOUT, PROJECTS, SKILLS, CONNECT) */
}

h4 {
  @apply text-xl lg:text-xl /* Tab Header (ABOUT INFORMATION TABS) */
}

button {
  @apply hover:scale-105 ease-in duration-200
}


/* Section Spacing */
#about {
  padding-top: min(75px, 7.5%)
}

#projects {
  padding-top: min(105px, 10%)
}

#skills {
  padding-top: min(105px, 10%)
}

#contact {
  padding-top: min(105px, 10%)
}

/* Button Space & Hover */
#smallButton {
  padding-right: min(50px, 5%)
}

button:hover span {
  color: black;
}